// _footer.scss
// =============

footer {
	height: 80px;
	margin: 0px auto;

	.hub_btn {
		color: white;
		background-color: #f65555;
		border-radius: 4px;
		padding: 7px 12px;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
	}
}

